*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 @media screen and (max-width: 1280px) {
    html {
        font-size: 50%;
        overflow-x: hidden;
    }
}

body {
    font-family: "poppins", sans-serif;
    font-size: 1.6rem;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.08) /* #e5e7eb */;
    min-width: 100vw;
}

@media (max-width: 740px) {
    .header-container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-wrapper h1 {
    font-size: 3rem;
}

.logo-wrapper i {
    font-size: 3rem;
    color: #059669;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    align-items: center;
    font-size: 1.5rem;
}

@media screen and (max-width: 900px) {
    .nav-links {
        display: none;
    }
}

.nav-links a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

.signin-btn {
    background-color: #059669;
    padding: 1rem 1.5rem;
    color: #fff;
    border: none;
    border-radius: 7px;
    font-size: 1.5rem;
    font-weight: 700;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
}

/* @media (max-width: 740px) {
    .hero-container {
        flex-direction: column;
        gap: 2rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 2rem;
    }
} */

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-basis: 50%;
}

.tag-hero-heading {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-text-tag {
    background-color: #e5e7eb;
    color: #4b5563;
    display: inline-block;
    border-radius: 2rem;
    text-align: center;
    width: fit-content;
    font-size: 1rem;
    padding: 3px 1.5rem;
}

.hero-heading {
    font-size: 4rem;
    font-weight: 700;
}

.hero-paragraph {
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.hero-lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    list-style: none;
    color: rgba(0, 0, 0, 0.7);
}

.hero-lists i {
    color: #059669;
    font-size: 2rem;
}

.list-hero {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.5rem;
    line-height: 2rem;
}

.hero-btn-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.primary-btn {
    background-color: #059669;
    color: #fff;
    font-weight: 600;
    padding: 15px;
    border: none;
    border-radius: 8px;
}
.secondary-btn {
    color: #000;
    background-color: #fff;
    font-weight: 600;
    padding: 15px;
    border: none;
    border-radius: 8px;
    
    border: 1px #059669 solid;
}

.hero-right {
    width: 40rem;
    height: 30rem;
}

.hero-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

/* Hero Mobile Responsiveness */
@media (max-width: 769px) {

    .header-container {
        padding: 1rem;
    }
    
    .hero-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 2rem;
    }

    .tag-hero-heading {
        gap: 1rem;
    }

    .hero-heading {
        font-size: 3rem;
    }

    .hero-paragraph {
        font-size: 1.5rem;
        color: rgba(0, 0, 0, 0.7);
    }

    .hero-right {
        width: 40rem;
        height: 30rem;
    }

    .hero-right img {
        width: 100%;
    }

    .hero-left {
        flex-basis: 100%;
    }
}

.how-it-works {
    background-color: #e0f2f1;
    padding: 5rem 2rem;
    width: 100vw;
}

.how-it-works-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.how-it-works-title h3 {
    font-size: 2rem;
    font-weight: 700;
}

.how-it-works-title p {
    color: #4b5563;
}

.how-it-works-grid-container {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.how-it-works-grid-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2.5rem;
    gap: 1rem;  
    border-radius: 1rem;
    margin-top: 3rem;
}

.card-iocn {
    background-color: #e0f2f1;
    color: #059669;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

/* How FreshBasket Market works Mobile Responsiveness */

@media screen and (max-width: 769px) {
    .how-it-works-grid-container {
        flex-direction: column;
    }

   /*  .how-it-works-grid-card {
        width: 100%;
    } */

}

.everything-you-need {
    padding: 5rem;
}

.everything-you-need-title {
    background-color: #f9fbfa;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.everything-you-need-title p {
    font-size: 1.5rem;
    color: #4b5563;
}

.everything-you-need-title h4 {
    font-size: 3rem;
    font-weight: 600;
}

.everything-you-need-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.everything-you-need-card {
    background-color: #fff;
    border: 2px #e5e7eb solid;
    /* box-shadow: ; */
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 3rem;
    border-radius: 1rem;
    margin-top: 2rem;
}

.everything-you-need-card h4 {
    font-size: 1.5rem;
}

.everything-you-need-card p {
    font-size: 1.1rem;
}

.everything-you-need-card ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1rem;   
}

/* Everything You Need Mobile Responsiveness */

@media screen and (max-width: 769px) {
    .everything-you-need {
        padding: 1.5rem;
    }
    .everything-you-need-card-container {
        flex-direction: column;
    }

    .everything-you-need-title h4 {
        font-size: 2.5rem;
        /* text-wrap: nowrap; */
        padding-top: 3rem;
    }
    .everything-you-need-title p {
        font-size: 1.5rem;
        text-align: center;
    }

    .everything-you-need-card {
        padding: 2rem;
    }
    .everything-you-need-card h4 {
        font-size: 2rem;
    }
    .everything-you-need-card p {
        font-size: 1.6rem;
    }

    .everything-you-need-card ul {
        font-size: 1.5rem;
    }
    
}

.simplify {
    background-color: #e0f2f1;
    padding: 5rem;
    width: 100vw;
}

.simplify-content {
    background-color: #059669;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem; 
    padding: 3rem;  
}

.simplify-content h2 {
    font-size: 2rem;
}
.simplify-content p {
    font-size: 1rem;
    text-align: center;
    width: 600px;
    line-height: 1.5rem;
}

.simplify-content button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

/* Simplfy  Mobile Responsiveness */
@media screen and (max-width: 769px) {

    .simplify-content h2 {
        text-align: center;
    }
    .simplify-content p {
        font-size: 1.5rem;
        width: fit-content;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 3rem;
    font-size: 1.2rem;
}

@media screen and (max-width: 769px) {
    footer {
        flex-direction: column;
        align-items: center;
        gap: 5px;
        font-size: 1.2rem;
    }
}